body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.card-container{
  margin-top: 20px;
}
.card-title {
  height: 100px;
}
.card-title {
  color: rgb(220, 4, 155);
  font-family: "Times New Roman", Times, serif;
}
.card-footer {
  height: 100px;
}
.bg-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;
}
.search-container h2{
  font-weight: 700;
  color: #0e0d0e;
font-family: Arial, Helvetica, sans-serif;
}
.search-container {
  position: relative;
  bottom: 450px;
  max-width: 500px;
  margin: auto;
  text-align: center;
}
.search-container .form-control {
  background: none;
  color: #fff;
}
.search-container .form-select {
  background: #ffffff;
  color: #000;
}
.search-container ::placeholder{
  color: #fff;
}
.main-row {
  margin-top: -350px;
}
.nodata {
  text-align: center;
  text-shadow: #fff;
  color: red;
  margin-top: -30px;
}
.select-area{
  display: flex;
  margin-top: 30px;
  gap: 10px;
}
.card-dropdown-area{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}